@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap');

html {
  font-family: 'Comfortaa', cursive;
}

body {
    background-color: rgb(252, 93, 19);
    margin: 0%;
  }

h1 {
  color: rgb(255, 255, 255);
}

h1,h2 {
  margin-left: 50px;
}

.top_menu {
  align-items: center;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.c9_doc-content {
  width: 100% !important;
}