@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap');

html {
  font-family: 'Comfortaa', cursive;
}

body {
    background-color: red;
    margin: 0%;
  }

h1 {
  color: rgb(255, 255, 255);
}

h1,h2 {
  margin-left: 50px;
}

.top_menu {
  align-items: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 100vw;
}

iframe{
  width: 100vw;
  height: 90vh;
  border-color: transparent;
}

iframe.div {
  width: 100vw !important;
  height: 90vh;
  border-color: transparent;
}

.c14 {
  max-width: 100vw !important;
}


div.page_block{

   
  width: 90vw;
  margin-left: 1vw;
  color: aliceblue;
  background-color: rgb(1, 1, 36);
  border-radius: 50px;
  padding: 5px;
  background-clip: padding-box;
  box-shadow: inset 0 0 10px #8fa9ff;
  
}
