@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap');

html {
  display: block;
  gap: 50px 50px;
  font-family: 'Comfortaa', cursive;
  background-color: aquamarine;
  grid-template-columns: 1;
}

.page_body {
    background-color: rgb(0, 59, 47);
    margin: 0%;
  }

h1 {
  color: rgb(255, 255, 255);
}

h1,h2,h3 {
  align-content: center;
  margin: 10px;
}

.top_menu {
  align-items: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 100vw;
}





.page_block{
  position: relative;
  margin: auto;
  width: 70vw;
  margin-top: 10px;
  color: aliceblue;
  background-color: rgba(1, 1, 63, 0.397);
  border-radius: 20px;
  background-clip: padding-box;
  border-color: aqua;
  border: 20px;

}

.page_block_text {
  text-align: center;
  position: relative;
}
.page_block_img {
  display: block;
  margin: auto;
  width: 50vw;
  max-width: 35vw;
  border-radius: 20px;
}




.reading_book {
  display: block;
  width: 100vw;
  height: 90vh;
  margin: auto;
  border-color: transparent;
}