@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap');

html {
  display: block;
  gap: 50px 50px;
  font-family: 'Comfortaa', cursive;
  background-color: rgb(0, 59, 47);
  grid-template-columns: 1;
}

.page_body {
    background-color: rgb(0, 59, 47);
    margin: 0%;
  }

h1 {
  color: rgb(255, 255, 255);
}

h1,h2,h3 {
  align-content: center;
  margin: 10px;
}

.top_menu {
  align-items: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 100vw;
}





.page_block{
  position: relative;
  margin: auto;
  width: 70vw;
  margin-top: 10px;
  color: aliceblue;
  background-color: rgba(1, 1, 63, 0.397);
  border-radius: 20px;
  background-clip: padding-box;
  border-color: aqua;
  border: 20px;
  padding-bottom: 10px;
}

.sub_page_block{
  position: relative;
  margin: auto;
  width: 45vw;
  margin-top: 10px;
  color: aliceblue;
  background-color: rgba(98, 0, 255, 0.685);
  border-radius: 20px;
  background-clip: padding-box;
  border-color: aqua;
  border: 20px;
}


.page_block_text,.page_block_linked_text {
  display: block;
  text-align: center;
  padding: 10px;
  margin: auto;
  border-radius: 20px;
}
.page_block_img {
  display: block;
  margin: auto;
  width: 35vw;
  max-width: 50%;
  bottom: 10px;
  border-radius: 20px;
  
  /*
  outline: 2px solid #B54104;
  outline-offset: 5px;
  */
}

.page_block_img:hover,.sub_page_block:hover{
  outline: 2px solid #ffffff88;
  outline-offset: 5px;
}

.page_block_linked_text:hover{
  outline: 2px solid chartreuse;
  outline-offset: 5px;
  color: chartreuse;
}



.reading_book {
  display: block;
  width: 100vw;
  height: 90vh;
  margin: auto;
  border-color: transparent;
}

